<h1>See how many times one word is in a sentence.</h1>
<form action="/title">
  <div class="form-group">
    <label for="long_string">Please enter the sentence that you want to search:</label>
    <input id="long_string" name="long_string" class="form-control" type="text">
  </div>
  <div>
    <label for="short_string">Please enter the word that you want to search for:</label>
    <input id="short_string" name="short_string" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
