<h1>See how many times one word is in a sentence.</h1>
<form action="/title">
  <div class="form-group">
    <label for="string_to_be_searched">Please enter the sentence that you want to search:</label>
    <input id="string_to_be_searched" name="string_to_be_searched" class="form-control" type="text">
  </div>
  <div>
    <label for="search_word">Please enter the word that you want to search for:</label>
    <input id="search_word" name="search_word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
